In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
data = pd.read_csv('/content/2017_jun_final - 2017_jun_final.csv')

In [46]:
print(data.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

In [ ]:
print("Розмір:", data.shape) # Розмір: (8704, 25)

In [ ]:
print("Типи:", data.dtypes)

In [ ]:
# Частка пропусків міститься в кожній колонці
print(data.isnull().sum()/ len(data))

In [9]:
# Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
# метод dropna призначений спеціально для видалення рядків або стовпців, які містять пропущені значення.
col_list = [col for col in data.columns if col not in ["Мова програмування"]]
data_drop = data[col_list].dropna(axis=1, how='any')
join_data = pd.concat([data_drop, data[['N', 'Мова програмування']]], axis=1, join='outer')

In [ ]:
# Знову порахуйте, яка частка пропусків міститься в кожній колонці
# Переконайтеся, що залишився тільки стовпець "Мова.програмування"
print(data.isnull().sum()/ len(data))
print('*********************************')
print(data.columns)

In [11]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу
data.dropna(inplace=True)

In [ ]:
# Визначте новий розмір таблиці за допомогою методу shape
print(data.shape)

In [ ]:
# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = data[data['Мова програмування'].str.contains('Python', na=False)]
print(python_data)

In [14]:
# Визначте розмір таблиці python_data за допомогою методу shape
print(python_data.shape)

(207, 25)

In [ ]:
# Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
grouped_by_posada = data.groupby('Посада')
print(grouped_by_posada)

In [ ]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада",
# виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
grouped_by_posada = data.groupby('Посада')['Зарплата на місяць'].agg(['min', 'max'])
print(grouped_by_posada)

In [ ]:
# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць.
# Використовуйте її для методу apply та створіть новий стовпчик "avg"


def fill_avg_salary(column):
    return column.mean()

# Агрегація даних за посадами та обчислення мінімального, максимального значень і середнього
grouped_by_posada = data.groupby('Посада')['Зарплата на місяць'].apply(fill_avg_salary).reset_index(name='avg')

# Додавання стовпців з мінімальним та максимальним значеннями
grouped_by_posada[['min', 'max']] = data.groupby('Посада')['Зарплата на місяць'].agg(['min', 'max']).reset_index(drop=True)

# Виведення результатів
print(grouped_by_posada)

In [ ]:
# Створіть описову статистику за допомогою методу describe для нового стовпчика.
avg_stats = grouped_by_posada['avg'].describe()
print(avg_stats)

In [19]:
# Збережіть отриману таблицю в CSV файл
write_to_csv = avg_stats.to_csv('descriptive statistics.csv', index=False)

In [ ]:
# Графік
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('/content/2017_jun_final - 2017_jun_final.csv')

position_counts = data['Посада'].value_counts()

# Графік'Посада'
plt.figure(figsize=(10, 6))
plt.bar(position_counts.index, position_counts.values)
plt.xlabel('Position')
plt.ylabel('Count')
plt.title('Count of each position')
plt.xticks(rotation=90)  # Rotate x-axis labels for better readability if needed
plt.show()

In [ ]:
# Графік 'Мова програмування'
plt.figure(figsize=(10, 8))
language_counts = data['Мова програмування'].value_counts()
plt.bar(language_counts.index, language_counts.values, color='green')
plt.xlabel('Programming language')
plt.ylabel('Count')
plt.title('Count of each programming language')
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(10, 8))
city_counts = data['Місто'].value_counts()
plt.bar(city_counts.index, city_counts.values, color = 'red')
plt.xlabel('City')
plt.ylabel('Count people')
plt.title('Where people works')
plt.xticks(rotation=90)
plt.show()